@model PIPOSKY2.FormModels.SubmitFormModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@if (ViewBag.record !=null)
{
    <span>向 @ViewBag.record.Belong.ContestName 提交</span>
}
@using (Html.BeginForm()) {

    <div class="form-group">
        @Html.LabelFor(model => model.Lang)
        <select name="Lang" class="form-control">
            <option value="cpp">C++</option>
            <option value="java">Java</option>
        </select>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.PID)
        @Html.TextBoxFor(model => model.PID,new {@class ="form-control"})
        @Html.ValidationMessageFor(model => model.PID)
    </div>

    <div class="form-group">
        @Html.ValidationMessageFor(model => model.Source)
        @Html.TextAreaFor(model => model.Source,new {@class ="form-control",@id="SrcEdit",@rows=30})
    </div>
    @Html.HiddenFor(model => model.RID)
    @Html.ValidationMessageFor(model => model.RID)
    <input type="submit" value="Create" class="btn btn-default"/>

}

